{deps, [
	{edown, ".*", {git, "https://github.com/uwiger/edown.git", {tag, "0.8.4"}}}
]}.

{erl_opts, [
	%warnings_as_errors,
	warn_export_all
]}.

{edoc_opts, [
	{doclet, edown_doclet},
	{top_level_readme, {"./README.md", "http://github.com/silviucpp/unsplit"}}
]}.

{profiles, [
	{test, [
		{erl_opts, [debug_info, nowarn_export_all]}
	]}
]}.
